nav {
  background-color: grey;
}

nav ul {
  margin: 0px auto;
  margin-bottom: 30px;
  width: 1020px;
}

nav li {
  display: inline-block;
  margin: 0px 40px 0px 0px;
  vertical-align: middle;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  }

nav a:hover {
  background-color: #111;
}
main {
  width: 1020px;
  margin: 0px auto;
}

.hero-img {
  margin: 0px 0px 30px 0px;
}

.left-content-panel {
  margin: 0px 30px 0px 0px;
}

.featured-section-image {
  float: left;
  margin: 0px 30px 30px 0px;
}

.featured-section {
  margin-top: 30px;
}

h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

button {
  margin: 30px 0px 0px 0px;
  border-radius: 5px;
  width: 15%;
}

button:hover {
  background-color: #fff;
}

.featured-section-text {
  overflow: scroll;
  width: 450px;
  height: 315px;
}

footer {
  background-color: grey;
  text-align: center;
  height: 120px;
  margin-top: 30px;
}