body {
  background-color: rgb(#fff);
  text-align: center;
  width: 1000px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: xx-large;
  color: salmon;
  padding: 15px 5px 15px 5px;
}

nav {
  float: right;
}

nav ul {
  background-color: #666;
  text-align: center;
}

li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  margin: 0px 40px 0px 0px;
  line-height: 70px;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav a:hover {
  background-color: #111;
}

.a30pxMargin {
  margin: 0px 0px 0px 30px;
}